header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid #393a57;
}

header > div {
    display: flex;
    width: 60vw;
}

.header-title {
    font-size: 1.6rem;
    font-weight: bold;
    width: 40vw;
    color: #80717f;
}

a > .button-add {
    background-color: orangered;
    color: #fff;
    border: none;
    padding: 0 0.5rem;
    font-size: 1.6rem;
    border-radius: 16px;
}

a > .button-add:hover {
    filter: brightness(140%);
    cursor: pointer;
}

a {
    align-self: center;
    margin: 4vh 0;
}